@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="Semester Organiser">
        <h1 id="title">Semester Organiser</h1>
        <p class="lead"></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Getting started on being more organised">
            <h2 id="Getting started on being more organised">Getting started on being more organised</h2>
            <p>
                This application introduces the Semester Organizer, a program designed to help students like us manage their academic workload more efficiently..
            </p>
        </section>
       
    </div>
</main>